modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "PORT=5000 npm run start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3001

[[ports]]
localPort = 5004
externalPort = 3002

[[ports]]
localPort = 5050
externalPort = 3003

[userenv]

[userenv.shared]
PORT = "5000"
CANONICAL_PUBLIC_ORIGIN = "https://prs-atlas.com"
OPENAI_ASSISTANT_ID = "asst_tt8Ci5ShxyJNCMUA2ob7EB8m"
QUESTION_IMPORT_API_KEY = "wf0JKM0SWLSr-zVDv8j9JrsOplqw2YwndRMiFq3RVg4"
